*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    margin: auto;
    background: rgb(77, 74, 74);
    /* max-width: 1280px; */
}

.main {
   /*border: 1px solid whitesmoke;*/
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: rgb(241, 236, 236);
    width: 500px;
    margin-top: 300px;
    margin-left: 1300px;
    height: 70vh;
    gap: 20px;
    padding: 10px 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#display input {
    /* border: 1px solid rgb(218, 216, 216); */
    background-color: rgb(243, 243, 243);
    height: 320px;
    width: 475px;
    /* margin-top: 35px; */
    border-radius: 40px ;
    /* margin-top: 30px; */
    margin-bottom: 10px;
    margin-left: 1px;
    margin-right: 0px;
    color:rgb(68, 67, 67);
    font-size: 3.6em;
    border: none;
    text-align: end;
}


.sub2 {
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    
}

input{
    background-color: rgb(240, 185, 193);
    color: rgb(43, 36, 49);
    border: 1px solid rgb(240, 185, 193);
    width: 105px;
    border-radius: 25px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    gap: 15px;
    height: 90px;
}

/* .basic {
    border: 1px solid pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    height: 30px;
     */
/* } */

/* .basic h3 {
    font-size: 1rem;
    color: rgb(238, 232, 170);
} */

.sub3 {
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
}


.sub4 {
/*border: 1px solid white;*/
display: flex;
flex-direction: row;
justify-content: space-between;
height: 90px;
}

.sub5 {
/*border: 1px solid white;*/
display: flex;
flex-direction: row;
justify-content: space-between;
height: 90px;
gap:15px;
}

.sub6 {
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90px;
    gap:15px;
    }


.sub123 {
/*border: 1px solid white;*/
display: flex;
flex-direction: column;
gap:10px;
width: 400px;
padding-right: 8px;
}

#subh3 input{
border: 1px solid rgb(92, 175, 185);
border-radius: 25px;
width: 100px;
height:195px ;
background-color: rgb(78, 161, 170);
color: rgb(43, 36, 49);
text-align: center;
font-size:3rem;
}

.suba {
/*border: 1px solid white;*/
display: flex;
flex-direction: row;
justify-content: space-between;
height: 90px;
gap: 9px;
}

.subb {
/*border: 1px solid white;*/
display: flex;
flex-direction: row;
justify-content: space-between;
height: 90px;
}

/* .button {
    background-color: rgba(109, 182, 41, 0.842);
    color:rgb(255, 228, 196);
    width: 105px;
    border-radius: 25px;
    text-align: center;
    font-size: 1.5rem;
} */
/* .button1 {
   background-color: rgb(238, 185, 49);
    width: 105px;
    border-radius: 25px;
    text-align: center;
    font-size: 1.5rem;
} */

#ac {
    background-color: rgb(192, 33, 65);
    color: rgb(243, 253, 253);
}

#c {
    color: rgb(1, 14, 15);
    font-size: 3.5em;
}

